[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
python-dotenv = "*"
pillow = "*"
pytest = "~=9.0.3"
allure-pytest = "~=2.16.0"
requests = "~=2.34.2"
playwright = "~=1.60.0"
pytest-xdist = "~=3.6.1"

[dev-packages]

[requires]
python_version = "3.14"
python_full_version = "3.14.0"
